html,
body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Courier New', Courier, monospace;
  width: 600px;
  margin: 20px auto;
  padding: 10px 10px 30px 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 2px 2px 3px lightgray;
}

.mini {
  width: 500px;
  margin: auto;
  text-align: center;
}
